[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "boot.heterogeneity"]
	path = boot.heterogeneity
	url = https://github.com/gabriellajg/boot.heterogeneity
	shallow = true
	registered = true
[submodule "equaltestMI"]
	path = equaltestMI
	url = https://github.com/gabriellajg/equaltestmi
	shallow = true
	registered = true
[submodule "mc.heterogeneity"]
	path = mc.heterogeneity
	url = https://github.com/cran/mc.heterogeneity
	shallow = true
	registered = true
